{% extends 'base.html' %}


{% block content %}
  <h1>{{ user.name }} 님의 DUTY!</h1>
  <hr>
    <div class="container">
      <div class="row">
      {% for duty in duties %}
        {% if forloop.counter|divisibleby:7 %}
          <div class="border text-center" style="width: 14%; height: 100px;">{{ duty }}</div>
          {% comment %} <div class="offset"></div> {% endcomment %}
        {% else %}
          <div class="border text-center" style="width: 14%; height: 100px;">{{ duty }}</div>
        {% endif %}
      {% endfor %}
      </div>
    </div>
  </article>
{% endblock content %}