{% extends 'base.html' %}
{% comment %} {% load bootstrap5 %} {% endcomment %}

{% block content %}
  <h1>듀티 생성</h1>
  <hr>
  <p>마지막 이틀 듀티 입력</p>
  <form action="{% url 'calendars:make-duty' %}" method="POST">
    {% csrf_token %}
    <p>년도:<input type="text" name='year'></p>
    <p>월:<input type="text" name='month'></p>
    <p>듀티:<input type="text" name='dd'></p>

    {% comment %} {% bootstrap5_form form %} {% endcomment %}
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-warning text-light submit_btn">듀티 생성</button>
    </div>
  </form>

{% endblock content %}